name: main

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: docker
    strategy:
      matrix:
        version: [17, 18]
    uses: ./.github/workflows/_docker.yml
    with:
      version: "${{ matrix.version }}"
      tag: "${{ matrix.version }}"