name: pr

on:
  pull_request:
  workflow_dispatch:

jobs:
  docker:
    name: docker
    strategy:
      matrix:
        version: [14, 15, 16]
    uses: ./.github/workflows/_docker.yml
    with:
      version: "${{ matrix.version }}"
      tag: "${{ matrix.version }}-${{ github.sha }}"
